<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <style>
        body {
            font-family: sans-serif;
        }
        .row { margin-bottom: 10px; }
        .actions { margin-top: 15px; }
    </style>
</head>
<body>
<form method="post" action="/cs/login">
    <div class="row">
        <label>
            <span>아이디</span>:
            <input type="text" name="id"/>
        </label>
    </div>
    <div class="row">
        <label>
            <span>비밀번호</span>:
            <input type="password" name="pw"/>
        </label>
    </div>
    <div class="actions">
        <button type="submit">로그인</button>
    </div>
    <div th:if="${error}" class="error-message" th:text="${error}"></div>
</form>

</body>
</html>
